### Java & Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
bin/
out/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
shelf/
workspace.xml

### macOS (Específico para tu MacBook) ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

### VS Code ###
.vscode/
*.code-workspace
.history/

### Spring Boot ###
HELP.md
log/
*.log

src/main/resources/application.properties